body.mceContentBody p, body.mceContentBody li, body.mceContentBody dt, body.mceContentBody dd {
	font: 14px arial,helvetica,sans-serif !important;
}

p, li, dt, dd {
	line-height: 20px;
	margin-bottom: 10px;
}

dt {
	font-weight: bold;
	margin-left: 30px;
}

h3 {
	font-size: 20px;
	margin: 30px 0 10px;
	border-bottom: 1px solid #CCC;
	padding-bottom: 4px;
}

h4 {
	font-size: 15px;
	margin-bottom: 5px;
}
